#### Aquí encontrarás todo lo que necesitas saber: https://www.kaggle.com/t/ab8726f0cfc84544abbae69a6be88071

## Librerias

In [178]:
import pandas as pd
import sklearn as sk
import urllib.request
from PIL import Image

## Data

In [179]:
### Para que funcione necesitas bajarte los archivos de datos de Kaggle 
train = pd.read_csv("Train_processed.csv")

## Data exploration

In [180]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137054 entries, 0 to 137053
Data columns (total 9 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   revolvingutilizationofunsecuredlines  137054 non-null  float64
 1   age                                   137054 non-null  int64
 2   debtratio                             137054 non-null  float64
 3   monthlyincome                         137054 non-null  float64
 4   numberofopencreditlinesandloans       137054 non-null  int64
 5   numberoftimes90dayslate               137054 non-null  int64
 6   numberrealestateloansorlines          137054 non-null  int64
 7   numberofdependents                    137054 non-null  float64
 8   target                                137054 non-null  int64
dtypes: float64(4), int64(5)
memory usage: 9.4 MB

In [181]:
train.head()

,revolvingutilizationofunsecuredlines,age,debtratio,monthlyincome,numberofopencreditlinesandloans,numberoftimes90dayslate,numberrealestateloansorlines,numberofdependents,target
0,0.768219,68,0.687930,2178.0,12,0,1,0.0,0
1,0.289873,52,0.385497,3750.0,16,0,1,1.0,0
2,0.000000,54,0.346503,6833.0,8,0,1,0.0,0
3,0.046064,66,0.407614,5200.0,6,0,1,1.0,0
4,0.168771,45,4702.000000,8300.0,10,0,3,1.0,0

## Data processing

-----------------------------------------------------------------------------------------------------------------

## Pasos que si o si debéis realizar para poder participar en la competición:

### 1. Definir X e y

In [182]:
X = train.drop('target', axis=1)
y = train['target']

### 2. Dividir X_train, X_test, y_train, y_test

In [183]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn import model_selection

In [184]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 42)

In [185]:
# Ejemplo de código para un StandardScaler
from sklearn.preprocessing import StandardScaler

# Almaceno en el objeto scaler todo lo necesario para estandarizar, con los datos de train
scaler = StandardScaler()
scaler.fit(X_train)

# # Utilizo los datos de train para escalar train y test.
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

### 3. Asignar el modelo (vacío) a una variable

In [186]:
# Metricas de clasificación
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score,\
                            roc_auc_score, roc_curve, precision_recall_curve, confusion_matrix


lr = LogisticRegression()

### 4. Sacar métricas, valorar el modelo 

Recuerda que en la competición se va a evaluar con la métrica de AUC.

In [187]:
lr.fit(X_train_scaled, y_train)
preds = lr.predict(X_test_scaled)

print("AUC:", round(roc_auc_score(preds, y_test), 3))

AUC: 0.659

In [188]:
# !pip install xgboost

In [189]:
import xgboost

xgb_clas = xgboost.XGBRFClassifier(random_state=42)

xgb_clas.fit(X_train_scaled, y_train)
y_pred = xgb_clas.predict(X_test_scaled)
print("Accuracy:", accuracy_score(y_test,y_pred))
print("AUC:", round(roc_auc_score(y_pred, y_test), 3))

Accuracy: 0.7682990894233014
AUC: 0.768

-----------------------------------------------------------------

## Una vez listo el modelo, toca predecir con el dataset de predicción

Definición de **modelo que está listo**. 

Tras hacer suficientes pruebas, analizar los datos, hacer feature engineering, probar diferentes modelos con diferentes parámetros, es con este con el que observo mejores métricas y menos overfitting. ¡Cuidado con el overfitting aquí! Si vuestro modelo aprende muy bien de estos datos pero hay overfitting cuando le pasemos los datos desconocidos de `test.csv` nos arriesgamos a que digamos, no salga lo esperado.

### 1. Entrena dicho modelo con TODOS tus datos de train, esto es con `train.csv` al completo.


**CON LAS TRANSFORMACIONES QUE LE HAYAS REALIZADO A `X` INCLUÍDAS.**


Véase:
- Estandarización/Normalización
- Eliminación de Outliers
- Eliminación de columnas
- Creación de columnas nuevas
- Gestión de valores nulos
- Y un largo etcétera de técnicas que como Data Scientist hayas considerado las mejores para tu dataset.

In [190]:
# Almaceno en el objeto scaler todo lo necesario para estandarizar, con los datos de train
scaler = StandardScaler()
scaler.fit(X)

# # Utilizo los datos de train para escalar train y test.
X_scaled = scaler.transform(X)

In [191]:
X_scaled

array([[-0.02679275,  1.30026434, -0.16716131, ..., -0.12532802,
        -0.01331206, -0.71147536],
       [-0.02917294,  0.17989946, -0.16731614, ..., -0.12532802,
        -0.01331206,  0.15303347],
       [-0.03061531,  0.31994507, -0.1673361 , ..., -0.12532802,
        -0.01331206, -0.71147536],
       ...,
       [-0.03055031, -0.45030579, -0.16713586, ...,  0.13081708,
         0.77073236,  0.15303347],
       [-0.02935545, -0.5903514 ,  0.1652377 , ..., -0.12532802,
        -0.79735648, -0.71147536],
       [-0.02699686,  2.21056081, -0.16737334, ..., -0.12532802,
        -0.01331206, -0.71147536]])

In [192]:
# lr = LogisticRegression(C=0.1)
# lr.fit(X_scaled, y)
# preds = lr.predict(X_scaled)

# print("AUC:", round(roc_auc_score(preds, y), 3))

In [193]:
# xgb_clas = xgboost.XGBRFClassifier(random_state=42)

# xgb_clas.fit(X_scaled, y)
# y_pred = xgb_clas.predict(X_scaled)
# print("Accuracy:", accuracy_score(y,y_pred))
# print("AUC:", round(roc_auc_score(y_pred, y), 3))

In [194]:
from sklearn.tree import DecisionTreeClassifier


tree_clf = DecisionTreeClassifier(max_depth=5,
                                  random_state=42)
tree_clf.fit(X_scaled, y)

DecisionTreeClassifier(max_depth=5, random_state=42)

In [195]:
tree_clf.predict_proba(X_scaled)

array([[0.45503792, 0.54496208],
       [0.62924684, 0.37075316],
       [0.79339697, 0.20660303],
       ...,
       [0.07170393, 0.92829607],
       [0.73399405, 0.26600595],
       [0.48546477, 0.51453523]])

In [196]:
tree_clf.predict(X_scaled)

array([1, 0, 0, ..., 1, 0, 1], dtype=int64)

### 2. Carga los datos de `test.csv` para predecir.

In [197]:
test = pd.read_csv("Test_processed.csv")
test.head()

,revolvingutilizationofunsecuredlines,age,debtratio,monthlyincome,numberofopencreditlinesandloans,numberoftimes90dayslate,numberrealestateloansorlines,numberofdependents
0,0.051782,53,0.009350,2245.0,3,0,0,0.0
1,0.022133,57,0.319562,7672.0,26,0,1,2.0
2,0.013693,68,0.139237,4064.0,4,0,0,1.0
3,0.018568,74,0.018760,10500.0,27,0,0,0.0
4,0.008630,66,9.000000,8166.0,5,0,0,0.0

In [198]:
# Almaceno en el objeto scaler todo lo necesario para estandarizar, con los datos de train
scaler = StandardScaler()
scaler.fit(test)

# # Utilizo los datos de train para escalar train y test.
test_scaled = scaler.transform(test)

In [199]:
test_scaled

array([[-0.0291664 ,  0.04591535, -0.29441331, ..., -0.06339477,
        -0.89514803, -0.66760948],
       [-0.02934324,  0.31746064, -0.29414737, ..., -0.06339477,
        -0.0164055 ,  1.14180155],
       [-0.02939358,  1.06421016, -0.29430196, ..., -0.06339477,
        -0.89514803,  0.23709603],
       ...,
       [-0.02944637, -0.08985729, -0.26870337, ..., -0.06339477,
        -0.89514803,  1.14180155],
       [-0.02567866, -0.70083418, -0.29400646, ...,  0.40967001,
        -0.0164055 ,  0.23709603],
       [-0.02940722,  0.04591535,  2.11706532, ..., -0.06339477,
        -0.0164055 , -0.66760948]])

In [200]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31442 entries, 0 to 31441
Data columns (total 8 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   revolvingutilizationofunsecuredlines  31442 non-null  float64
 1   age                                   31442 non-null  int64
 2   debtratio                             31442 non-null  float64
 3   monthlyincome                         31442 non-null  float64
 4   numberofopencreditlinesandloans       31442 non-null  int64
 5   numberoftimes90dayslate               31442 non-null  int64
 6   numberrealestateloansorlines          31442 non-null  int64
 7   numberofdependents                    31442 non-null  float64
dtypes: float64(4), int64(4)
memory usage: 1.9 MB

IMPORTANTE: APLICAR LO MISMO A ESTOS DATOS QUE HAYÁIS APLICADO A LOS DATOS DE ENTRENAMIENTO

- SI EL ARRAY CON EL QUE HICISTEIS `.fit()` ERA DE 4 COLUMNAS, PARA `.predict()` DEBEN SER LAS MISMAS
- SI AL ARRAY CON EL QUE HICISTEIS `.fit()` LO NORMALIZASTEIS, PARA `.predict()` DEBÉIS NORMALIZARLO
- TODO IGUAL SALVO BORRAR FILAS, EL NÚMERO DE ROWS SE DEBE MANTENER EN ESTE SET, PUES LA PREDICCIÓN DEBE TENER 391 FILAS, SI O SI

**Entonces, si al cargar los datos de train usé `index_col=0` para que utilizara la primera columna del conjunto de datos como índice, ¿tendré que hacerlo también para el conjunto `test.csv`?**

In [201]:
# ¿Qué opináis?
# Sí

![](https://www.tierraljelechu.com/web/img/wiki_up/1.996-SorpresaDto.-1-Red.jpg)

### 3. AHORA puedo hacer la predicción que será lo que subirás a Kaggle.

**¿Qué es lo que subirás a Kaggle?**

In [202]:
# predictions_submit = xgb_clas.predict(test_scaled)
# predictions_submit

In [203]:
predictions_submit = tree_clf.predict(test_scaled)
predictions_submit

array([0, 0, 0, ..., 0, 1, 0], dtype=int64)

**¡PERO! Para subir a Kaggle la predicción, ésta tendrá que tener una forma específica y no valdrá otra.**

En este caso, la **MISMA** forma que `sample_submission.csv`.

In [204]:
sample = pd.read_csv("data/sample_submission.csv")

In [205]:
sample.head()

      Id  target
0  15576       0
1  94308       1
2  53983       1
3  61359       1
4  71383       0

In [206]:
sample.shape

(31442, 2)

### 4. Mete tus predicciones en un dataframe. 

En este caso, la **MISMA** forma que `sample_submission.csv`.

In [207]:
submission = pd.DataFrame({"Id": sample['Id'], "target": predictions_submit})

In [208]:
submission.head()

      Id  target
0  15576       0
1  94308       0
2  53983       0
3  61359       0
4  71383       0

In [209]:
submission.shape

(31442, 2)

### 5. Pásale el CHEQUEATOR para comprobar que efectivamente está listo para subir a Kaggle.

In [210]:
def chequeator(df_to_submit):
    """
    Esta función se asegura de que tu submission tenga la forma requerida por Kaggle.
    
    Si es así, se guardará el dataframe en un `csv` y estará listo para subir a Kaggle.
    
    Si no, LEE EL MENSAJE Y HAZLE CASO.
    
    Si aún no:
    - apaga tu ordenador, 
    - date una vuelta, 
    - enciendelo otra vez, 
    - abre este notebook y 
    - leelo todo de nuevo. 
    Todos nos merecemos una segunda oportunidad. También tú.
    """
    if df_to_submit.shape == sample.shape:
        if df_to_submit.columns.all() == sample.columns.all():
            if df_to_submit.Id.all() == sample.Id.all():
                print("You're ready to submit!")
                submission.to_csv("submission.csv", index = False) #muy importante el index = False
                urllib.request.urlretrieve("https://i.kym-cdn.com/photos/images/facebook/000/747/556/27a.jpg", "gfg.png")     
                img = Image.open("gfg.png")
                img.show()   
            else:
                print("Check the ids and try again")
        else:
            print("Check the names of the columns and try again")
    else:
        print("Check the number of rows and/or columns and try again")
        print("\nMensaje secreto de Clara: No me puedo creer que después de todo este notebook hayas hecho algún cambio en las filas de `diamonds_test.csv`. Lloro.")

In [211]:
chequeator(submission)

You're ready to submit!