#### Aquí encontrarás todo lo que necesitas saber: https://www.kaggle.com/t/ab8726f0cfc84544abbae69a6be88071

## Librerias

In [87]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import mean_squared_log_error
from sklearn.metrics import median_absolute_error
from sklearn.metrics import explained_variance_score
from sklearn.metrics import max_error
import urllib.request
from PIL import Image

## Data

In [92]:
### Para que funcione necesitas bajarte los archivos de datos de Kaggle 
train = pd.read_csv("C:/Users/Rafael Ortega/Proyectos/Machine_Learning/test/train 1.csv", index_col = 0)
test = pd.read_csv("C:/Users/Rafael Ortega/Proyectos/Machine_Learning/test/test 1.csv", index_col = 0)

## Data exploration

In [89]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 912 entries, 0 to 911
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Ram               912 non-null    int64
 1   Weight            912 non-null    float64
 2   Memory            912 non-null    int64
 3   ScreenResolution  912 non-null    int64
 4   Price_euros       912 non-null    float64
dtypes: float64(2), int64(3)
memory usage: 42.8 KB

In [93]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 391 entries, 0 to 390
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Ram               391 non-null    int64
 1   Weight            391 non-null    float64
 2   Memory            391 non-null    int64
 3   ScreenResolution  391 non-null    int64
dtypes: float64(1), int64(3)
memory usage: 15.3 KB

In [90]:
train.head()

   Ram  Weight  Memory  ScreenResolution  Price_euros
0    4    2.40     500           1049088        387.0
1    8    1.23     256           5760000       1379.0
2    8    3.00     256           2073600        854.0
3    8    1.26     512           2073600       1483.0
4    8    2.80    1024           1440000        519.0

-----------------------------------------------------------------------------------------------------------------

## Pasos que si o si debéis realizar para poder participar en la competición:

### 1. Definir X e y

In [99]:
X = train.drop("Price_euros", axis = 1)
y = train['Price_euros']
X.shape

(912, 4)

In [100]:
y.shape

(912,)

### 2. Dividir X_train, X_test, y_train, y_test

In [42]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 42)

### 3. Asignar el modelo (vacío) a una variable

In [101]:
lm = LinearRegression()

### 4. Sacar métricas, valorar el modelo 

Recuerda que en la competición se va a evaluar con la métrica de MAE.

In [102]:
lm.fit(X, y)

LinearRegression()

In [103]:
coeff_df = pd.DataFrame(lm.coef_,
                        X.columns,
                        columns=['Coefficient'])
coeff_df.sort_values('Coefficient', ascending=False)

                  Coefficient
Ram                 95.814941
ScreenResolution     0.000116
Memory              -0.172698
Weight              -1.479176

In [104]:
predictions = lm.predict(X)
predictions

array([ 595.75947746, 1568.69751318, 1138.97066251, 1097.33375365,
        933.22516434, 1773.59775124, 1140.89359095,  949.44121086,
       1568.69751318,  983.71558985, 1729.38707662,  661.14207932,
       1568.69751318, 1141.48526124,  624.26221688, 1141.48526124,
       1054.33753249,  595.75947746, 1286.19653752, 1140.31671242,
       2583.4158853 , 1726.54705924, 1006.85635016, 1007.34447815,
       1141.76630463,  505.41367042, 1283.86839546, 1141.3965107 ,
       1140.99713325,  779.59124833, 1141.500053  , 1140.9823415 ,
        596.0553126 , 1908.03436947, 1751.49241393, 1906.71790308,
       1140.59775581,  714.94823433,  596.0553126 , 1728.64748876,
        596.0553126 , 1862.83264712, 3215.37543406,  677.64712351,
        791.53142242, 1140.15400309,  550.6162393 , 1051.33285077,
        506.06450774,  672.16516446, 1524.4720468 ,  661.6302073 ,
       1818.72551481,  596.0553126 , 1141.69234584, 2202.48147174,
        716.14636667, 1141.36692718, 1141.33734367, 1140.96754974,
        779.59124833,  638.04569427,  888.68822454, 1141.3965107 ,
       1728.35165362, 1294.42558733, 1139.85816795,  713.86843605,
       1021.88233516, 1141.51484476, 1053.08023312, 1368.67640429,
        623.0788763 , 1344.8700149 ,  756.89424073,  639.25861837,
        714.75594149, 1862.36433456, 1022.48879721, 1141.33734367,
       1006.88593368,  771.14345831, 1141.2929684 ,  505.56158799,
       2471.91294278,  779.7391659 , 1140.52379702, 1096.3131224 ,
       1097.18583608,  624.21784161, 1141.54442827, 1862.61077076,
       1864.11953   ,  505.48762921, 1140.50900526,  504.67408256,
        486.80120546, 1140.52379702,  596.70614992,  714.97781784,
       1162.70309312,  660.15103158,  660.44686673,  984.67705407,
       1729.16520027, 1368.66161253, 1140.44983824,  506.33075937,
        624.33617567, 1749.27365035, 1727.4937317 ,  486.77162195,
       1730.42249963, 1568.74188845, 1752.36512761, 3215.40501757,
       2583.50463585,  796.61400403,  984.5291365 , 1141.27817664,
        933.4470407 , 1748.53406249, 1140.18358661,  505.85742314,
       1095.24811588, 1140.59775581, 1139.51795753,  623.96638173,
       1141.13025907,  596.42510653, 1021.74920935,  812.71869421,
       1007.52197924,  888.82135035,  672.47579136,  779.59124833,
        660.96457823, 1141.04150852,  505.59117151,  480.75715963,
       1272.00715393, 1139.99129376, 1864.16390527, 1730.42249963,
        480.75715963,  505.26575285,  779.59124833,  596.42510653,
        596.20323017, 1097.74792286, 1073.42339633,  697.1470939 ,
       1861.1070352 , 2449.68927142, 1140.89359095,  716.12340263,
        948.52412191, 1140.92317447, 1751.27053757, 3936.12138157,
        677.91337514, 2291.10990558,  961.8321289 ,  596.20323017,
       1748.65239654, 2267.28316968,  595.75947746,  778.99957804,
        596.45469005, 1729.49061892,  888.96926793, 1139.41441523,
       1368.05515049, 1729.09124148,  757.87049671, 1006.90072544,
        596.0553126 ,  984.97288921,  639.02195025,  985.41664193,
       1139.90254322, 1684.35308727, 1007.66989681, 1141.51484476,
       1480.38643141, 1388.50381099,  661.18645459, 1096.0024955 ,
       1007.34447815, 1328.16782062, 1140.9823415 , 1140.68650635,
       1141.45567773,  624.76513662, 1141.45567773,  639.30299364,
        985.41664193, 1141.54442827, 1139.71025037, 1098.17841318,
        697.33938675,  624.26221688, 1022.48879721,  888.52551521,
       1073.43818808, 1140.89359095, 2496.25183543, 2291.05073855,
        596.20323017,  505.59117151, 1861.61972303, 2290.90282098,
       1138.97066251,  979.75882768,  595.75947746,  979.31507496,
       1006.98947598, 1751.34449636, 1286.19653752,  984.60309528,
        948.81995706, 1863.32077511,  985.5645595 , 1728.73623931,
        638.43027996, 1141.75151287, 1141.33734367,  979.31507496,
       1096.99354324,  888.9101009 ,  596.55823235,  933.47662421,
        756.89424073, 1140.52379702, 1141.54442827,  505.85742314,
       2447.29300674, 1568.68272142, 1021.4533742 , 1096.91958445,
        596.88365101,  756.45048801,  778.99957804, 1097.43729595,
        596.20323017,  985.41664193,  596.0553126 ,  889.05801847,
        596.55823235,  660.44686673, 1141.51484476,  642.43977072,
        984.88413867,  984.82497164, 1140.15400309,  486.77162195,
       1141.27817664,  596.20323017, 1863.7053608 ,  660.44686673,
       2817.14411301, 1140.15400309, 1907.04332174, 1217.9358763 ,
       1730.71833477, 1007.52197924,  816.12876617,  596.0553126 ,
       1904.6026818 , 1097.5260465 , 1862.01910048,  595.90739503,
       1389.93861144,  660.44686673,  816.92752106,  505.59117151,
        756.92382425, 1140.89359095, 1906.22977509, 1140.52379702,
        984.23330135,  719.48994585,  596.55823235,  984.5291365 ,
        756.89424073, 1331.48762808, 1098.45945656, 1008.3651094 ,
        447.56743598, 1140.44983824, 1138.97066251, 1008.37990116,
       4028.03358551, 1141.10067555, 1022.84379938, 1141.3965107 ,
       1141.21900961,  835.09028315,  404.42543142, 1141.36692718,
       1141.58880354,  714.93344257, 1861.93034993, 1007.47760397,
       1141.54442827,  624.21784161,  505.70950557, 1141.01192501,
       1007.8473979 , 4114.33971346, 1007.66989681, 1141.10067555,
        985.12080679, 2290.91761274,  757.48591102,  796.7619216 ,
       1328.04948656,  933.22516434,  596.20323017, 1682.51388571,
        757.32320169, 1140.25754539,  505.79825611,  678.00212568,
        596.21802193,  404.42543142, 1140.83442392, 1140.19837836,
        716.36007074,  595.98135381,  681.03154448, 1140.89359095,
       1096.4166647 , 1390.16048779,  985.17997381, 1140.00608552,
        756.74632316, 1007.72906384,  780.47875376, 1818.03532589,
        595.89260327, 1140.59775581,  985.86039465,  660.8018689 ,
       1141.52963651,  660.29894915,  623.96638173,  596.70614992,
        505.70950557,  716.12340263, 1568.46084506,  596.20323017,
       1021.4533742 ,  888.82135035, 1141.85505517, 1224.03334056,
       1007.75864735, 1818.50866212,  505.59117151, 1139.57712456,
       1749.06656575, 1729.09124148, 1863.79411134, 1568.60876263,
       2233.32794409, 1568.60876263, 1729.83082934,  984.67705407,
       1043.55871151,  637.94215197,  797.05775674,  596.07010436,
       1140.74567338,  714.75594149,  596.52864883, 1140.44983824,
        660.96457823,  679.6411193 , 1294.42854568,  661.48228973,
        596.0553126 , 1140.81963217, 1096.23916362, 1141.04150852,
        779.59124833, 1862.62556252, 1906.22977509, 1141.63317881,
        661.70416609,  506.00534071, 1021.4533742 , 1728.79540633,
       1141.54442827,  505.85742314, 1908.10832826,  812.98494584,
        660.15103158,  757.95924725, 1140.44983824, 1283.5429768 ,
        834.82403151,  780.12375159, 1141.2929684 , 1728.79540633,
       1685.17640201,  486.87516425,  778.99957804, 1141.32255191,
        677.69149878,  504.67408256,  595.99614557, 1163.29476341,
       1154.01863498,  816.12876617,  758.07758131, 1097.97132857,
       1728.94332391, 1141.21900961,  505.81304787, 1162.55517554,
        660.74270187, 1140.37587945, 1556.24537618, 1139.96171025,
       1140.15400309, 1773.46462543, 1007.96573196, 1006.90072544,
       1096.62527867, 1007.07822652,  677.98733393,  549.22581412,
       1097.2154196 , 1140.44983824, 1140.15400309,  697.0435516 ,
       1141.63317881,  506.00534071, 1524.59710603, 1140.68650635,
        888.82135035,  480.75715963,  505.59117151, 1140.10962782,
       1751.93616665, 1140.62733932, 1140.25754539, 1962.05532149,
       1139.4587905 ,  624.41013445,  780.07937632,  889.04322671,
       1141.33734367,  889.1171855 ,  596.72094168,  624.26221688,
       1729.04686621, 1328.25657116, 1006.04280352,  487.05266534,
       1141.3965107 , 1141.3965107 , 1008.02489898, 1007.52197924,
       1684.83619159,  985.41664193, 1140.96754974, 1904.86893343,
       1864.37098988,  596.42510653, 1140.68650635,  888.67343278,
       1908.18228705, 1139.71025037, 1139.71025037,  779.8427082 ,
        888.67343278, 1368.54269039, 1397.80364001,  888.67343278,
       1139.5623328 ,  595.75947746, 1862.16701805, 1006.93030895,
       1007.83260614, 1388.44464396, 1163.14684583, 1139.71025037,
       1141.2929684 ,  933.27116228,  660.44686673, 1140.47942175,
        697.20626093, 1139.96171025, 1346.43735309,  778.99957804,
       1141.1894261 , 1006.93030895, 1684.58473172, 1771.37898766,
       1140.15400309,  984.5291365 ,  796.83588039, 1043.92850544,
        506.06450774, 1022.93254993, 1241.9858629 , 1096.97875148,
        595.75947746, 1140.44983824, 1163.60539031,  624.26221688,
       1140.39067121, 1141.63317881,  984.5291365 , 1007.07822652,
        488.02602988, 1284.59319156, 2582.91296556,  596.45469005,
        596.24760544, 1913.4071197 , 1007.47760397, 1140.15400309,
        678.00212568, 1140.74567338, 1141.04150852, 1022.34087964,
        984.23330135, 1163.70893261, 1864.08994649,  678.01691744,
       1327.99031953, 1140.99713325, 1241.9858629 , 1863.54265147,
       1097.05271027,  661.48228973,  970.33362408,  714.90385906,
        505.85742314, 1007.66989681, 2089.6294364 , 1140.36108769,
        933.52099948, 1140.15400309, 1728.79540633,  888.67343278,
        661.18645459, 1601.16605515,  757.32320169, 1751.93616665,
       1728.79540633,  595.78906097, 1043.85454666,  624.77992838,
        758.19591537, 1007.52197924,  596.55823235, 1862.16701805,
        596.35114775, 1908.72958206, 1021.29066488, 1007.75864735,
       1568.74188845, 1862.01910048, 1727.4937317 , 1556.7926712 ,
        714.60802391, 1006.33863866,  639.58403702,  624.77992838,
        983.77475688, 1140.50900526, 1140.15400309, 1962.48428245,
        719.48994585, 1568.59397088,  756.84986546, 1752.08408422,
       1139.4587905 , 1007.52197924, 1141.04150852, 1141.78109639,
       1096.25395538,  661.33437216, 2584.55485061, 3259.58610867,
        985.3574749 , 1141.55922003,  757.19007588, 2223.38312196,
       1729.62374474,  779.36937197,  624.41013445, 1141.63317881,
        624.55805202,  985.86039465, 1097.17104432, 1905.49018723,
        961.8321289 , 1129.5736941 , 1140.77525689,  595.41331688,
        796.46608646,  985.26872436,  638.34152942,  984.97288921,
       1140.68650635,  963.60713977,  933.22516434, 1141.2929684 ,
        596.55823235,  984.97288921, 2068.74620319,  505.70950557,
       1748.38614491,  757.48591102, 1097.4225042 ,  639.85028865,
        985.26872436,  949.50037789,  624.98701298, 1043.98767247,
       1727.4937317 ,  816.12876617,  755.71090015,  596.20323017,
        624.41013445, 1141.45567773, 1006.90072544, 1906.08185752,
        983.71558985, 1557.72455191, 1140.65692284, 1141.73672111,
       2582.5875469 ,  596.0553126 , 1141.73672111, 1140.44983824,
        624.26221688,  596.0553126 ,  596.88365101,  757.26403466,
        984.79538813, 1022.37046315, 1864.08994649,  984.97288921,
       2048.43540822, 1140.44983824, 1140.00608552,  888.58468224,
       1007.07822652, 1140.30192066, 1141.47046948, 1006.90072544,
       1066.30094091,  888.37759764, 1241.9858629 , 1294.42558733,
        638.48944699,  984.67705407, 1140.16731567,  697.0435516 ,
       1007.22614409,  661.48228973, 1140.00608552, 1007.28531112,
        948.95308287,  780.0497928 , 2494.34369875, 1140.44983824,
       1139.71025037, 3393.46064013, 1043.98767247, 1140.89359095,
        596.01093733,  549.98019373, 1906.52561024, 2050.47667072,
       1773.00608095,  888.64384927, 2449.08280937, 1140.58296405,
       1557.13288162,  818.98009639,  677.91337514, 2334.93599451,
       1141.01192501,  714.75594149, 1141.3965107 , 1140.44983824,
       1557.13288162,  624.18825809,  596.29198072,  757.19007588,
        680.6765423 , 1140.68650635,  624.08471579, 2584.39214128,
       1729.38707662, 1022.84379938,  932.48557648, 2291.05073855,
        595.75947746, 1140.15400309, 1007.52197924,  985.12080679,
        597.13511088, 1140.42025472,  596.0553126 ,  638.34152942,
        596.35114775, 1006.33863866, 1141.23380137, 1051.31805902,
       1141.500053  , 1727.4937317 , 1140.00608552,  715.25886123,
        933.27116228,  756.89424073,  660.32853267,  984.67705407,
        796.90983917, 1748.74114709,  624.43971797, 1284.38610696,
       1141.2929684 ,  758.2550824 , 1730.86625235,  985.22434909,
        818.98009639,  596.86885925, 1141.63317881, 2050.95000695,
       1006.90072544,  597.09073561, 1863.67577729,  985.41664193,
       2290.90282098, 1141.33734367, 1141.76630463, 1751.34449636,
       1138.37899222,  678.06129271,  595.75947746,  888.67343278,
        716.14636667, 1705.54133564, 1141.45567773, 1141.63317881,
       1140.59775581, 1557.39913325, 1271.93319514, 1862.66993779,
        984.97288921, 1141.38171894, 2016.73739579,  596.0553126 ,
       1141.78109639,  596.55823235, 1141.38171894, 1906.37769267,
        715.25886123,  888.82135035, 1097.00833499,  757.63382859,
        596.20323017,  889.05801847,  596.20323017,  779.88708347,
        757.57466156,  486.01724233, 2584.54005885,  506.06450774,
        888.82135035, 2403.17108267,  948.52412191,  815.59626291,
        596.89844276, 1140.18358661,  963.01546948, 1138.76357791,
        779.51728954,  624.26221688,  985.86039465, 1726.72456032,
        505.70950557, 1140.52379702, 1140.81963217, 1008.48344346,
        505.56158799,  793.93467832,  549.96540198, 1140.15400309,
       1139.85816795, 1097.57042177,  596.0553126 , 1141.30776015,
       2267.59379658, 1095.78061914, 3393.13522147,  796.68796281,
        638.43027996, 1479.20309083, 1140.64213108, 1141.54442827,
       1007.37406167, 1141.07109204,  505.59117151, 1217.76870514,
       1328.16782062,  715.73219746,  983.46412998,  816.12876617,
        757.39716048, 1097.4225042 ,  996.42493531,  602.30479714,
       1863.20244105, 1728.94332391,  697.20626093,  758.2550824 ,
       1140.89359095, 1861.13661872,  486.3722445 ,  715.80615625,
        624.26221688, 1286.19653752,  715.73219746,  505.56158799,
       1140.18358661,  661.1124958 ,  678.1352515 ,  715.80615625,
       1141.63317881,  678.06129271,  678.28316907, 4027.38274819,
        780.70063012, 1906.37769267,  596.20323017, 1862.24600051,
       1140.68650635,  963.37047165, 1097.76271461,  624.26221688,
       1140.9823415 ,  681.04633624,  757.39716048, 1139.71025037,
       2584.39214128,  798.34174818, 1140.9823415 ,  624.26221688,
        661.20124634, 1141.33734367, 1711.45716649, 1007.8473979 ,
        549.96540198,  681.12029502, 1007.52197924, 1141.01192501,
       1009.14907253, 1140.33150418, 1728.94332391, 1729.20957554,
       3259.58610867,  714.90385906, 1862.49243671, 1141.04150852,
        780.0497928 , 3259.31985704, 1044.16517356, 2233.52023694,
        642.43977072,  595.89260327,  595.89260327, 1139.91733498,
        933.60975002, 1007.52197924, 1096.99354324, 1556.83704647,
       1096.78645864,  624.41013445,  797.11692377, 1141.38171894,
       1140.44983824, 1043.58829503, 2496.13350137, 1140.52379702,
       1174.79118478, 1139.71025037, 1140.74567338,  506.00534071,
       1140.9823415 ,  596.0553126 ,  486.77162195,  697.42813729,
        985.41664193, 1863.64619377, 1142.21005735,  505.85742314,
        505.31012812,  816.04001563,  790.51079117,  948.52412191,
       3847.78878287, 1728.35165362, 1682.75055382,  757.32320169])

In [105]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error ,mean_squared_error, r2_score

print("MAE: ", mean_absolute_error(y, predictions))
print("MAPE: ", mean_absolute_percentage_error(y,predictions)) # Es el complemento del R2
print("MSE: ", mean_squared_error(y,predictions))
print("RMSE: ", np.sqrt(mean_squared_error(y,predictions))) #es el mas/menos en la misma unidad que el target
print("R2: ", r2_score(y,predictions))

MAE:  312.2654825960655
MAPE:  0.3557905650822285
MSE:  178144.290442125
RMSE:  422.07142812813686
R2:  0.6161473241825448

-----------------------------------------------------------------

## Una vez listo el modelo, toca predecir con el dataset de predicción

Definición de **modelo que está listo**. 

Tras hacer suficientes pruebas, analizar los datos, hacer feature engineering, probar diferentes modelos con diferentes parámetros, es con este con el que observo mejores métricas y menos overfitting. ¡Cuidado con el overfitting aquí! Si vuestro modelo aprende muy bien de estos datos pero hay overfitting cuando le pasemos los datos desconocidos de `test.csv` nos arriesgamos a que digamos, no salga lo esperado.

### 1. Entrena dicho modelo con TODOS tus datos de train, esto es con `train.csv` al completo.


**CON LAS TRANSFORMACIONES QUE LE HAYAS REALIZADO A `X` INCLUÍDAS.**


Véase:
- Estandarización/Normalización
- Eliminación de Outliers
- Eliminación de columnas
- Creación de columnas nuevas
- Gestión de valores nulos
- Y un largo etcétera de técnicas que como Data Scientist hayas considerado las mejores para tu dataset.

In [49]:
# from sklearn.preprocessing import PolynomialFeatures
# poly_feats = PolynomialFeatures(degree = 3)
# poly_feats.fit(X)
# X_poly = poly_feats.transform(X)
# X_poly




# pol_reg = LinearRegression()
# pol_reg.fit(X_train, y_train)


# predictions = pol_reg.predict(X_test)


# df_preds = pd.DataFrame(predictions, columns = ['predictions'])
# df_preds['real_value'] = pd.Series(y_test)

# df_preds

# from sklearn.metrics import r2_score
# r2_score(pol_reg.predict(X_test), y_test)

### 2. Carga los datos de `test.csv` para predecir.

In [106]:
# X_pred = pd.read_csv("C:/Users/Rafael Ortega/Proyectos/Machine_Learning/test/test 1.csv", index_col = 0)
X_pred = test
X_pred.head()

   Ram  Weight  Memory  ScreenResolution
0    8    1.25     256           2073600
1    4    1.40      32           2304000
2    2    1.40      32           2073600
3    8    2.65    1024           2073600
4    2    1.10      32           1049088

In [107]:
X_pred.shape

(391, 4)

**¿Por qué da error?**

IMPORTANTE: APLICAR LO MISMO A ESTOS DATOS QUE HAYÁIS APLICADO A LOS DATOS DE ENTRENAMIENTO

- SI EL ARRAY CON EL QUE HICISTEIS `.fit()` ERA DE 4 COLUMNAS, PARA `.predict()` DEBEN SER LAS MISMAS
- SI AL ARRAY CON EL QUE HICISTEIS `.fit()` LO NORMALIZASTEIS, PARA `.predict()` DEBÉIS NORMALIZARLO
- TODO IGUAL SALVO BORRAR FILAS, EL NÚMERO DE ROWS SE DEBE MANTENER EN ESTE SET, PUES LA PREDICCIÓN DEBE TENER 391 FILAS, SI O SI

**Entonces, si al cargar los datos de train usé `index_col=0` para que utilizara la primera columna del conjunto de datos como índice, ¿tendré que hacerlo también para el conjunto `test.csv`?**

![](https://www.tierraljelechu.com/web/img/wiki_up/1.996-SorpresaDto.-1-Red.jpg)

In [111]:
X_pred.head()

   Ram  Weight  Memory  ScreenResolution
0    8    1.25     256           2073600
1    4    1.40      32           2304000
2    2    1.40      32           2073600
3    8    2.65    1024           2073600
4    2    1.10      32           1049088

### 3. AHORA puedo hacer la predicción que será lo que subirás a Kaggle.

**¿Qué es lo que subirás a Kaggle?**

In [112]:
predictions_submit = lm.predict(X_pred)
predictions_submit

array([1141.55922003,  823.45621595,  605.13204042, 1006.85635016,
        486.87516425,  756.89424073,  624.55805202, 1750.44219917,
       1862.16701805,  984.97288921, 1140.65692284, 1140.99713325,
        985.26872436, 1021.4533742 ,  779.428539  , 1140.68650635,
       1141.61838706, 1907.04332174,  624.26221688, 1007.52197924,
       1154.01863498,  984.69184583,  595.92218679, 1021.88233516,
        660.8018689 , 1284.32693993,  697.20626093,  833.93652608,
        602.15687957,  984.97288921,  985.68289356,  963.60713977,
        948.22828677,  963.01546948, 1183.27892927, 1141.85505517,
        985.71247707, 1141.04150852,  716.50798832, 1863.7053608 ,
       1726.72456032,  984.97288921,  680.75050109, 1375.6983027 ,
       1140.30192066, 1728.73623931, 1007.15218531, 1728.64748876,
       1139.51795753, 1861.61972303,  714.59323216,  624.18825809,
       1007.46281221, 1140.62733932,  660.29894915,  757.13090885,
        985.12080679,  678.28316907, 1141.42609421, 1141.1894261 ,
        756.89424073, 1139.5623328 , 1162.11142283,  595.75947746,
       1140.24275363,  961.8321289 , 1773.89358639, 1728.12977726,
       1007.55156275,  714.9926096 ,  660.74270187, 1375.6983027 ,
       3126.95408482, 1863.51306796,  888.67343278,  963.45922219,
        756.89424073, 2223.38312196,  716.36007074,  985.12080679,
        595.99614557, 1218.08379387, 1141.21900961, 1726.8724779 ,
        984.6326788 , 1007.27051937, 1097.4225042 , 1141.04150852,
        596.20323017,  984.5291365 , 1568.53480385,  888.82135035,
        596.35114775, 2291.02115504, 1140.59775581, 1096.53499876,
       1140.39067121,  596.55823235,  506.00534071,  505.70950557,
        985.72726883, 1007.96573196, 1140.37587945,  624.7059696 ,
       1728.27769483,  505.59117151, 2583.06088313, 1098.45945656,
       2582.76504798, 1140.62733932, 1141.3965107 ,  818.98009639,
       1141.3965107 , 1728.79540633, 1141.20421785, 1331.48762808,
       1097.17104432, 2493.19970977,  715.24406948, 1097.17104432,
        815.92168157, 1140.89359095, 1748.82989763, 1141.78109639,
        602.18646309, 1140.39067121,  624.55805202, 1001.78797223,
        639.58403702, 1141.48526124,  505.70950557, 1007.52197924,
       1007.22614409,  714.00156187,  818.98009639, 1863.94202892,
       1863.79411134, 1729.49061892, 1907.39832391, 1140.81963217,
       1141.04150852,  985.26872436,  779.2214544 , 1728.33686186,
       1862.50722846,  596.0553126 , 1726.54705924, 1007.22614409,
       1007.37406167, 1096.47583173, 1906.43685969,  962.73294691,
       1884.46967187,  486.0616176 , 1863.30598335, 1140.15400309,
       1141.36692718,  623.96638173, 1141.78109639, 1390.85570038,
       4025.91836422, 1007.52197924,  888.58468224,  505.59117151,
       1140.65692284, 3215.10918243, 1141.78109639, 1139.85816795,
        796.98379796, 1140.44983824,  596.49906532,  697.0435516 ,
        815.59626291,  624.77992838, 1684.140979  ,  596.35114775,
        984.67705407, 1568.4460533 , 1141.42609421,  672.83079353,
        715.88673451, 1729.38707662, 1140.00608552, 1140.15400309,
       1006.33863866, 1140.00608552,  780.47875376,  704.99859828,
        677.91337514, 1098.31153899, 1140.89359095,  624.11429931,
        796.83588039,  505.91659017, 1139.99129376, 1729.09124148,
       1375.6983027 ,  624.26221688, 1007.07822652, 2628.92321088,
        660.00311401, 1140.68650635, 1141.61838706, 2405.70047316,
       1007.07822652, 1141.04150852, 1524.30127088, 1141.58880354,
       1007.22614409,  486.3722445 , 1141.1894261 ,  505.56158799,
       1098.31153899, 1141.45567773,  985.41664193,  660.44686673,
        984.82497164,  962.57171676,  757.19007588, 1139.62149983,
        505.70950557,  816.04001563,  486.35745275, 2494.99453607,
        755.71090015, 1863.88286189, 1141.48526124, 1907.07290526,
       1141.54442827, 1141.57401178,  741.59528316,  505.59117151,
       1861.5212044 , 1389.59840102, 1140.18358661,  780.03500105,
       1007.9509402 , 1007.52197924,  779.14749561,  779.02916155,
       1140.89359095,  681.19425381, 1261.97937976,  984.67705407,
        985.41664193,  596.32156423, 1320.81523495, 2095.16068157,
       1140.9823415 , 1141.23380137, 1272.08111271, 2278.47049941,
       1140.44983824, 1140.58296405,  681.07591975, 1007.07822652,
       1097.48167123, 1141.63317881, 1035.90967638,  985.41664193,
        757.95924725, 2050.56542127,  797.02817323, 1862.75868834,
        505.56158799,  597.10552736,  596.55823235,  595.75947746,
       1008.37990116, 1007.52197924, 1140.00608552,  948.52412191,
        596.20323017,  505.48762921, 1748.9778152 , 1860.82096814,
       1728.66228052,  714.75594149,  624.41013445, 1726.8724779 ,
       1141.20421785, 1568.80105548, 6371.11738978,  719.48994585,
        985.65331005,  596.55823235, 1140.70129811,  962.57171676,
        640.45912658, 1328.07907008, 1729.5349942 , 1479.21788259,
       1006.93030895, 1140.15400309,  624.29180039, 1006.59009853,
        486.57932911,  984.5291365 , 2202.62938932,  770.75887262,
        596.35114775,  638.69653159,  505.19179406,  984.38121892,
       1008.58698576, 1729.5349942 , 1864.03077946, 1021.4533742 ,
        642.52852126, 3397.20295471, 1141.3965107 ,  596.49906532,
       1863.05452348, 1908.12312002, 1368.38056915, 1141.63317881,
       1682.75055382, 1774.41129789, 2290.90282098, 1140.15400309,
        486.40182802,  714.90385906, 1556.24537618, 1023.2159692 ,
       1140.55338054, 1065.85718819, 1096.91958445,  596.55823235,
       1751.35928812, 1140.00608552, 1568.59397088,  948.89391584,
       1726.28080761, 1007.22614409,  596.64698289,  596.20323017,
       1862.86223064, 1007.69948033, 1141.04150852,  596.41031477,
       1141.55922003,  790.87960853,  404.42543142, 1139.71025037,
        697.0435516 , 1007.52197924,  790.51079117, 1004.23820913,
       1140.50900526, 1141.67755409, 1140.00608552, 1730.5704172 ,
        661.14207932, 1139.53274929, 1729.83082934, 1097.57042177,
        677.7210823 , 3214.96126485,  932.92932919, 1272.08111271,
       1141.26338488,  757.0421583 , 1139.48837402, 1728.79540633,
       1141.10067555,  714.90385906,  505.59117151,  596.2623972 ,
       1328.38969698,  971.05842018,  678.28316907,  505.70950557,
       1869.28519563,  716.36007074,  596.0553126 , 1140.64213108,
       1097.58521353,  596.94281803, 1140.59775581, 1097.17104432,
       1055.79472075, 1141.04150852,  661.49708149,  888.96926793,
       1139.57712456, 2583.4158853 , 1727.92269266, 1862.30516754,
        756.74632316,  504.89595892, 1865.30500282])

**¡PERO! Para subir a Kaggle la predicción, ésta tendrá que tener una forma específica y no valdrá otra.**

En este caso, la **MISMA** forma que `sample_submission.csv`.

In [114]:
sample = pd.read_csv("data/sample_submission.csv")

In [115]:
sample.head()

   laptop_ID  Price_euros
0        750          500
1        726          500
2        633          500
3        363          650
4        319          650

In [116]:
sample.shape

(391, 2)

### 4. Mete tus predicciones en un dataframe. 

En este caso, la **MISMA** forma que `sample_submission.csv`.

In [117]:
submission = pd.DataFrame({"laptop_ID": sample['laptop_ID'], "Price_euros": predictions_submit})

In [118]:
submission.head()

   laptop_ID  Price_euros
0        750  1141.559220
1        726   823.456216
2        633   605.132040
3        363  1006.856350
4        319   486.875164

In [119]:
submission.shape

(391, 2)

### 5. Pásale el CHEQUEATOR para comprobar que efectivamente está listo para subir a Kaggle.

In [120]:
def chequeator(df_to_submit):
    """
    Esta función se asegura de que tu submission tenga la forma requerida por Kaggle.
    
    Si es así, se guardará el dataframe en un `csv` y estará listo para subir a Kaggle.
    
    Si no, LEE EL MENSAJE Y HAZLE CASO.
    
    Si aún no:
    - apaga tu ordenador, 
    - date una vuelta, 
    - enciendelo otra vez, 
    - abre este notebook y 
    - leelo todo de nuevo. 
    Todos nos merecemos una segunda oportunidad. También tú.
    """
    if df_to_submit.shape == sample.shape:
        if df_to_submit.columns.all() == sample.columns.all():
            if df_to_submit.laptop_ID.all() == sample.laptop_ID.all():
                print("You're ready to submit!")
                submission.to_csv("submission.csv", index = False) #muy importante el index = False
                urllib.request.urlretrieve("https://i.kym-cdn.com/photos/images/facebook/000/747/556/27a.jpg", "gfg.png")     
                img = Image.open("gfg.png")
                img.show()   
            else:
                print("Check the ids and try again")
        else:
            print("Check the names of the columns and try again")
    else:
        print("Check the number of rows and/or columns and try again")
        print("\nMensaje secreto de Clara: No me puedo creer que después de todo este notebook hayas hecho algún cambio en las filas de `diamonds_test.csv`. Lloro.")

In [121]:
chequeator(submission)

You're ready to submit!