#### Aquí encontrarás todo lo que necesitas saber: https://www.kaggle.com/t/ab8726f0cfc84544abbae69a6be88071

## Librerias

In [105]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import mean_squared_log_error
from sklearn.metrics import median_absolute_error
from sklearn.metrics import explained_variance_score
from sklearn.metrics import max_error
import urllib.request
from PIL import Image

## Data

In [106]:
### Para que funcione necesitas bajarte los archivos de datos de Kaggle 
train = pd.read_csv("C:/Users/Rafael Ortega/Proyectos/Machine_Learning/test/train 3.csv", index_col = 0)
test = pd.read_csv("C:/Users/Rafael Ortega/Proyectos/Machine_Learning/test/test 3.csv", index_col = 0)

## Data exploration

In [107]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 912 entries, 0 to 911
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Ram               912 non-null    float64
 1   Weight            912 non-null    float64
 2   Memory            912 non-null    float64
 3   ScreenResolution  912 non-null    float64
 4   Company           912 non-null    float64
 5   TypeName          912 non-null    float64
 6   Cpu               912 non-null    float64
 7   Price_euros       912 non-null    float64
dtypes: float64(8)
memory usage: 64.1 KB

In [108]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 391 entries, 0 to 390
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Ram               391 non-null    float64
 1   Weight            391 non-null    float64
 2   Memory            391 non-null    float64
 3   ScreenResolution  391 non-null    float64
 4   Company           391 non-null    float64
 5   TypeName          391 non-null    float64
 6   Cpu               391 non-null    float64
dtypes: float64(7)
memory usage: 24.4 KB

In [109]:
train.head()

,Ram,Weight,Memory,ScreenResolution,Company,TypeName,Cpu,Price_euros
0,0.066667,0.437340,0.192063,0.000000,0.100133,0.069022,0.044073,387.0
1,0.200000,0.138107,0.095238,0.650201,0.296709,0.527398,0.392871,1379.0
2,0.200000,0.590793,0.095238,0.141403,0.100133,0.069022,0.219587,854.0
3,0.200000,0.145780,0.196825,0.141403,0.266894,0.000000,0.392871,1483.0
4,0.200000,0.539642,0.400000,0.053954,0.264510,0.069022,0.034976,519.0

-----------------------------------------------------------------------------------------------------------------

## Pasos que si o si debéis realizar para poder participar en la competición:

### 1. Definir X e y

In [110]:
X = train.drop("Price_euros", axis = 1)
y = train['Price_euros']
X.shape

(912, 7)

In [111]:
y.shape

(912,)

### 2. Dividir X_train, X_test, y_train, y_test

In [112]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 42)

### 3. Asignar el modelo (vacío) a una variable

In [113]:
lm = LinearRegression()

### 4. Sacar métricas, valorar el modelo 

Recuerda que en la competición se va a evaluar con la métrica de MAE.

In [114]:
lm.fit(X, y)

LinearRegression()

In [115]:
coeff_df = pd.DataFrame(lm.coef_,
                        X.columns,
                        columns=['Coefficient'])
coeff_df.sort_values('Coefficient', ascending=False)

                  Coefficient
Ram               1703.929908
Cpu               1314.916528
Company            814.422451
ScreenResolution   607.166272
TypeName           511.233798
Weight              96.740848
Memory            -514.424605

In [116]:
predictions = lm.predict(X)
predictions

array([ 292.97971819, 1788.88559029,  901.46618786, 1134.53807865,
        577.76823063, 1548.42635488,  818.47067486,  888.55114532,
       1561.03106075, 1378.48274286, 1780.01117766,  476.49822579,
       1561.03106075, 1154.45603779,  631.57729057, 1241.61114788,
        906.51099383,  245.98154333, 1520.76248006, 1039.04709935,
       2189.59254937, 1857.49064149, 1183.72063908, 1089.59150313,
       1452.70934267,  389.71648618, 1471.60126042, 1255.3225447 ,
       1003.38356779,  486.01141125, 1253.59061137, 1027.9132422 ,
        876.79281465, 1838.13852422, 1671.9970017 , 2199.2095813 ,
       1008.12239599,  737.26998495,  334.11390678, 1792.38213005,
        409.9411712 , 2525.93105198, 2713.99425182,  323.70336992,
       1061.33514064, 1276.82888132,  423.95991849, 1260.62708793,
        539.25113288,  438.14333724, 1663.7157507 ,  517.90610088,
       1845.90615868,  876.79281465,  991.75487254, 1988.83981749,
        951.56607792, 1459.38965696, 1223.60597313, 1001.93691979,
        965.76583947,  613.23933985,  590.43598013, 1456.95333278,
       1801.08177621, 1474.63958816, 1510.05828143,  568.68674918,
        924.45590497, 1241.11630978,  921.84886159, 1343.67292598,
        332.79517084, 1579.54389357,  469.77866942,  686.62623147,
        553.84160631, 2000.77666472,  945.79962229, 1156.93022827,
       1099.20297969,  600.36151802, 1460.6267522 ,  316.75735037,
       2362.86978331,  617.40952415, 1011.30097731,  957.10048376,
       1430.91806677,  313.74390416, 1456.42062839, 1644.98909399,
       2089.64220343,  388.47939094, 1239.4029259 ,  327.85122802,
        330.86713655, 1237.21402076,  668.02685368,  734.83366076,
       1060.47564118,  546.39927086,  574.88027427, 1562.42885626,
       1813.69747004, 1289.8725304 , 1740.6221486 ,  319.38503762,
        630.34019533, 1843.25353856, 2017.40191858,  298.01695429,
       1968.41294712, 1788.14333314, 1997.26406038, 2889.24550986,
       2323.0630783 ,  535.22626139,  873.7073256 ,  996.74111979,
        634.04346996, 2061.34559375, 1041.27387078,  308.0577042 ,
       1678.71647588, 1034.34613744, 1255.9800021 ,  636.52567153,
       1463.34836173,  648.44556022,  766.2615916 ,  882.57996435,
        674.06460485,  495.1284643 ,  445.10524022, 1193.620369  ,
        750.92394777, 1026.92356601,  386.74745761,  332.99442729,
       1027.56404001, 1248.06259257, 1884.83502809, 1968.41294712,
        332.99442729,  232.09463182, 1193.620369  ,  672.72781559,
        650.21535985, 1632.78670406, 1287.00401071,  526.1871754 ,
       1559.6157184 , 3325.39544653, 1003.17401503,  384.07246078,
        749.45654496, 1190.08170306, 1839.82697378, 3235.30512801,
        449.37086523, 2038.24013086, 1346.70046732,  467.45350577,
       1883.62014523, 2286.00155732,  339.06228773,  585.51927266,
        672.23297749, 1984.00034713,  451.86271484, 1745.3353824 ,
       1587.61180682, 1990.68066142,  773.96614191, 1386.55065611,
        449.94874773,  836.30974751,  690.58493623,  834.57992737,
       1015.99982602, 1546.97469712,  858.23524063, 1383.75721532,
       1632.87465595, 1641.4522439 ,  579.9109743 , 1216.37455475,
        861.73697359, 1292.57973797, 1027.9132422 , 1236.43389732,
       1457.90514268,  440.40318887, 1228.10912705,  618.09821495,
       1550.05790387, 1456.42062839, 1310.56263431,  989.23773286,
        313.25092668,  631.57729057, 1172.93101522,  413.20271673,
       1286.75659166, 1263.73479232, 2298.38095121, 2190.26563457,
        465.51201968,  571.45079778, 1685.84842556, 2093.35783243,
       1129.32071739,  898.6813748 ,  245.98154333, 1107.73473431,
       1181.49386765, 1838.58987854, 1520.76248006, 1135.78307046,
        708.54665386, 1818.57401974, 1054.26751513, 1996.61871857,
        700.48169814, 1089.28844272, 1484.16675043, 1141.16411867,
       1175.51522318,  797.65177603,  360.02826645,  818.25197203,
        629.87471426, 1023.35635014,  958.94255658,  352.31890808,
       2378.80151769, 1488.12022864,  963.11895563, 1411.08935426,
        456.07222957,  613.01503033,  629.78047654, 1327.32995034,
        372.43127528, 1350.02955237,  371.15420055,  770.89533019,
        368.43470422,  541.45088991, 1155.90268579,  381.75839253,
       1383.21889345, 1357.98482819, 1269.62323841,  298.01695429,
        996.74111979,  498.94140404, 1859.07563421,  407.57858652,
       2447.62193852, 1041.76870888, 1705.59218857, 1269.57809102,
       1963.46456617, 1086.62247455,  533.43559802,  449.94874773,
       2016.26330278, 1399.00368721, 1652.94436981,  818.28401156,
       1287.46401131,  407.57858652,  885.28080391,  386.74745761,
       1041.93774587, 1003.17401503, 1992.79847274, 1042.78887559,
       1364.13032489,  680.7917788 ,  646.21878879,  873.7073256 ,
        814.57805443, 1443.7538647 ,  960.25451558,  846.60654538,
        420.06707022, 1716.33989323, 1741.08179801,  870.6413817 ,
       2993.83715222, 1025.93388982,  873.08716043, 1229.09880325,
       1160.85106674,  676.40139569,  287.53387999, 1384.28991971,
       1479.96062661,  738.27510387, 1968.24772101, 1589.53576429,
       1456.42062839,  498.44724433,  180.4108565 , 1416.45171831,
        879.54846742, 3994.10707932,  673.53190046, 1414.96720403,
       1555.00628483, 2192.492406  , 1167.49086527,  327.48106277,
       1621.79561251,  820.51660975,  650.21535985, 1772.28759879,
        573.40084558, 1040.03677554,  543.70467574,  451.63761616,
        676.19168226,  287.53387999, 1165.3424759 , 1242.65723981,
        337.79403822,  680.15038702,  441.38749628, 1227.27727936,
       1443.78385725, 1613.74131055, 1090.67541704, 1245.87368743,
        817.05224491,  881.5278198 ,  823.17129629, 1853.0565031 ,
        472.64930577, 1034.34613744,  825.21586985,  438.68082315,
       1149.96251544,  442.43789821,  317.95002798,  483.32351351,
        224.67206039,  568.77580094, 1768.56203968,  306.62325537,
        744.9862311 ,  620.41945363, 1020.52116129,  893.46771687,
        856.75072634, 1791.54377258,  386.74745761, 1730.93761705,
       2052.43850803, 1990.68066142, 1587.96757764, 1562.51557504,
       2248.91546794, 1790.37010457, 1772.58860623, 1562.42885626,
        771.11573483,  930.80830495,  333.48697656,  409.69375216,
       1394.68151972,  738.54494648,  646.71362689, 1271.88050036,
        521.95940371,  339.83534837, 1702.44463388,  395.76430573,
        449.94874773, 1004.41111027, 1347.3708932 , 1026.92356601,
       1193.620369  , 1830.20271498, 1631.07163982, 1486.42401238,
        972.89003122,  260.51523842,  837.95580382, 1789.90793957,
       1252.84835422,  259.23816369, 2057.81834461,  878.1264215 ,
        572.62301232,  772.48162762, 1044.02597083, 1548.26124454,
        654.6311971 ,  795.67996908, 1226.28971637, 1789.90793957,
       1497.99088717,  290.59226966,  571.73543758, 1256.55963994,
        453.08215095,  327.85122802,  679.90296797,  705.77949426,
       1018.68840787,  533.43559802, 1029.12156644, 1468.64889067,
       1993.1548519 , 1227.5268116 ,  328.0447043 ,  804.01028094,
        721.20584912, 1239.68821124, 1325.67691238, 1272.83968603,
       1109.52719357, 1864.47196322, 1081.14138921, 1410.83291147,
       1694.73629818, 1153.78561191,  318.01273182,  287.12126414,
       1406.14097331, 1044.02597083, 1276.82888132,  503.31181341,
       1024.23244701,  538.29932298, 1685.13366342, 1008.57936779,
        465.20291062,  332.99442729,  571.45079778,  651.62901148,
       1511.1230145 , 1268.18833518, 1267.89130508, 1818.038554  ,
       1214.57618879,  625.35183488,  829.85161058,  998.99727877,
        811.04810343,  486.42881813,  674.98507754,  446.8739504 ,
       1785.70181576, 1291.09522369, 1398.95947479,  276.66894635,
       1456.95333278, 1458.89481887,  852.29718348, 1086.62247455,
       1733.44280829, 1550.05790387, 1001.93691979, 2230.13696227,
       1844.19051185,  648.44556022, 1470.77093316, 1029.46501033,
       1933.10484027, 1116.949765  , 1024.90902494,  778.79786158,
       1029.46501033, 1551.34217848, 1522.1423759 ,  771.63547413,
       1742.86119192,  523.7656279 , 1938.06527479, 1096.51923646,
        849.82087981, 1642.44192009, 1053.05306974, 1252.76355448,
       1460.6267522 , 1273.57843744,  726.15423008, 1264.18001936,
        888.86581822, 1272.83968603, 1525.21267474,  814.48381671,
        998.22563408, 1096.51923646, 1943.37003491, 1869.38304229,
       1109.52719357,  873.7073256 ,  326.24396753,  975.85734026,
        261.46704832, 1172.71408669, 1468.5034726 , 1173.82115614,
        294.80108385, 1234.69985079, 1279.7201151 ,  446.8739504 ,
       1013.52774874, 1479.21836947, 1101.56185514, 1377.88887623,
        225.9926021 , 1403.94092   , 2171.78105553,  672.23297749,
        466.71124863, 1992.6453131 ,  953.49242831, 1505.10990047,
        453.57910225, 1106.11293796, 1329.01908654,  941.06816986,
       1136.27579535, 1277.98818177, 1848.89147376,  451.39019711,
       1598.50303333, 1231.23809732, 1468.5034726 , 1895.22662809,
       1175.315302  ,  261.89200234,  748.32418472,  553.30890192,
        308.0577042 , 1086.08977016, 1801.77936959, 1742.10666288,
        607.78991379, 1041.76870888, 1789.90793957, 1029.46501033,
        350.94643025, 1366.05980556,  807.73788141, 1798.71810996,
       1995.62904238,  657.14309319,  984.30007841,  438.21428373,
        768.52292286, 1370.4663048 ,  403.47040967, 1938.06527479,
        415.02536011, 2047.4267446 ,  934.35266688, 1084.60525588,
       1530.31379694, 1654.8858559 , 2017.40191858, 1779.86359921,
        767.24287841, 1390.25982862,  915.52004826,  438.21428373,
       1375.55158058, 1471.79847565, 1015.54496742, 1884.02165278,
        908.64630833, 1790.61752362,  655.22426673, 1796.24391948,
       1255.0281922 ,  952.75017117, 1489.11513138, 1218.91464279,
       1185.94468948,  787.16652433, 2977.6542114 , 2766.25325928,
       1345.32647726, 1450.48045804,  779.65466681, 2228.54674985,
       1776.0524729 ,  810.2398266 ,  421.32478508, 1024.23244701,
        438.17430424,  825.21586985, 1331.7834932 , 2993.78672579,
       1358.1151576 , 1164.07039989, 1735.17892955,  638.68550396,
        407.57941369, 1346.81099154,  566.15242296,  842.00249881,
       1470.77093316, 1025.66382092,  820.51660975,  998.43518683,
        461.51544862, 1355.51063771, 2155.18950571,  180.4108565 ,
       1861.84994663,  778.45755106, 1270.23078318, 1006.31200161,
        835.11263176, 1347.81154842,  622.15294319,  950.5854087 ,
       2017.40191858,  558.45205895,  674.27553341,  372.43127528,
        388.29620706, 1228.10912705, 1410.83291147, 2185.56634499,
       1150.62821332, 1764.2761992 , 1009.07420588, 1223.40816515,
       2491.0431115 ,  401.12920722, 1451.26269468,  852.11698775,
        657.80103203,  371.15420055,  640.77556974,  784.11032287,
       1384.70340774, 1077.46986107, 1848.89147376, 1355.51063771,
       1956.70039753, 1264.67485745, 1018.0191579 ,  803.09499508,
        868.13200254, 1240.92530648, 1605.4163881 , 1410.83291147,
        787.10920664,  806.55886175, 1367.40251522, 1702.49411769,
        693.79927065, 1226.58671528, 1202.7248164 ,  503.31181341,
       1151.31142143,  345.9980493 , 1242.12242222,  888.95039124,
        896.7159739 ,  798.8585504 , 2545.68452222, 1264.67485745,
       1024.90902494, 2872.27207501,  707.83702958, 1164.3527997 ,
        519.55950409,  593.07853626, 1726.47873778, 1922.55656894,
       1560.26460288,  802.10531889, 2348.86381291, 1238.16583066,
       1310.83176952,  681.93650796,  449.37086523, 2150.52735456,
       1416.45171831,  509.58040243, 1020.98550886, 1036.82032792,
       1310.83176952,  659.03812727,  650.67233165,  594.95132664,
        456.38831841, 1236.43389732,  862.40084868, 2308.21793543,
       1780.01117766, 1142.7107027 ,  514.31191859, 2190.26563457,
        339.06228773, 1269.62323841, 1370.4663048 , 1125.1819177 ,
        593.06594192, 1011.09142456,  449.94874773,  356.43262186,
        496.46721357, 1390.25982862, 1030.9127613 , 1260.87450697,
       1481.4451409 , 1817.37356707, 1205.42168402,  547.37084478,
       1374.67939482,  578.63451187,  569.65398374, 1562.42885626,
        322.48218252, 1882.13563094,  631.30744796, 1534.15835882,
        998.43518683,  928.71203134, 1702.01121326,  862.07863036,
        681.93650796,  480.60190399, 1245.96407347, 1987.79741057,
       1410.83291147,  711.22765411, 1786.41222114, 1322.20337434,
       2093.35783243, 1484.16675043,  990.5177773 , 1812.36613708,
       1273.08978268,  281.48913014,  523.7656279 ,  616.90714063,
        951.56607792, 1906.01428394,  993.77209122, 1479.21836947,
       1008.12239599, 1306.37822666, 1256.65566478, 1668.28167317,
       1351.7593725 , 1384.04250066, 2104.56693531,  366.49902798,
       1145.75639163,  360.02826645, 1156.18797113, 1736.15857117,
        547.37084478,  930.34006833, 1409.60483997,  775.98336059,
        238.5589719 ,  770.89533019,  652.15684594,  641.15907513,
        753.44848128,  210.1080427 , 2380.84348221,  354.54779271,
        588.2092087 , 2325.05799594,  901.9496402 ,  576.28366389,
        640.52815069, 1041.27387078, 1326.9069435 , 1744.54566468,
        621.12080987,  313.00164702, 1085.77664714, 1824.54660626,
        224.67206039, 1011.30097731, 1466.60267564, 1030.08823304,
        267.93780985,  508.79060857,  408.62261514, 1269.62323841,
       1535.94297337, 1431.69081443,  876.79281465, 1256.80705899,
       2280.80575732, 1671.75087624, 2877.71529406,  339.67245275,
        515.77835798, 1037.98351917, 1235.23466838, 1228.56609886,
        861.2421355 , 1228.05951599,  386.74745761, 1592.29473636,
       1520.43426751,  724.15677542, 1376.99611537,  533.43559802,
        539.13517232, 1270.23078318, 2374.79463132,  420.21174228,
       1867.48788183, 1993.1548519 ,  888.86581822,  928.71203134,
       1233.75978566, 1559.12088031,  339.98377502,  722.91968018,
        446.8739504 , 1520.76248006,  724.15677542,  316.75735037,
       1269.12840031,  556.54077421,  280.2520349 ,  722.91968018,
       1024.23244701,  613.76821073,  474.24313554, 3776.82346776,
        819.46001058, 1736.15857117,  374.37276137, 1677.46098103,
       1236.43389732, 1059.59753235, 1000.60935411,  473.09769186,
       1027.9132422 ,  414.91633578,  552.91900739, 1176.69033093,
       2308.21793543,  425.69074452, 1003.63098683,  859.43182011,
        400.46526763,  992.00017839, 1820.28833503, 1107.40299696,
        360.61014604,  409.92797533,  884.99168647, 1188.59718878,
       1216.83389876, 1173.75472352, 1993.1548519 , 1812.9552129 ,
       2766.25325928,  965.86677163, 2120.97425143, 1188.10235068,
        614.15521024, 2744.48306069,  787.19529533, 1913.56160673,
        555.5957274 ,  657.35264594,  657.35264594, 1045.72741364,
        631.32186043, 1086.62247455,  947.66069365, 1577.15150447,
       1178.97908985,  446.34124601,  493.67608504, 1384.04250066,
       1399.62990067,  981.54797836, 2202.91979706, 1009.35949123,
       1288.52579509, 1116.949765  , 1005.64820551,  353.59598282,
       1231.48551637,  374.90546576,  298.01695429,  885.1545325 ,
       1550.05790387, 1625.72827456, 1365.19090618,  259.23816369,
        361.47341285,  424.12278377,  315.71738207,  749.45654496,
       3129.30259879, 1812.49646649, 1974.04999683,  540.37226755])

In [117]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error ,mean_squared_error, r2_score

print("MAE: ", mean_absolute_error(y, predictions))
print("MAPE: ", mean_absolute_percentage_error(y,predictions)) # Es el complemento del R2
print("MSE: ", mean_squared_error(y,predictions))
print("RMSE: ", np.sqrt(mean_squared_error(y,predictions))) #es el mas/menos en la misma unidad que el target
print("R2: ", r2_score(y,predictions))

MAE:  249.2108011680395
MAPE:  0.24339158221441787
MSE:  120874.86319400795
RMSE:  347.6706245773548
R2:  0.7395474221433862

In [118]:
# from sklearn.preprocessing import PolynomialFeatures
# poly_feats = PolynomialFeatures(degree = 3)
# poly_feats.fit(X)
# X_poly = poly_feats.transform(X)
# X_poly




# pol_reg = LinearRegression()
# pol_reg.fit(X, y)

In [119]:
# predictions_submit = pol_reg.predict(X_pred)

# from sklearn.metrics import r2_score
# r2_score(pol_reg.predict(X), y)

# df_preds = pd.DataFrame(predictions_submit, columns = ['predictions'])
# df_preds['real_value'] = pd.Series(y)

# df_preds

-----------------------------------------------------------------

## Una vez listo el modelo, toca predecir con el dataset de predicción

Definición de **modelo que está listo**. 

Tras hacer suficientes pruebas, analizar los datos, hacer feature engineering, probar diferentes modelos con diferentes parámetros, es con este con el que observo mejores métricas y menos overfitting. ¡Cuidado con el overfitting aquí! Si vuestro modelo aprende muy bien de estos datos pero hay overfitting cuando le pasemos los datos desconocidos de `test.csv` nos arriesgamos a que digamos, no salga lo esperado.

### 1. Entrena dicho modelo con TODOS tus datos de train, esto es con `train.csv` al completo.


**CON LAS TRANSFORMACIONES QUE LE HAYAS REALIZADO A `X` INCLUÍDAS.**


Véase:
- Estandarización/Normalización
- Eliminación de Outliers
- Eliminación de columnas
- Creación de columnas nuevas
- Gestión de valores nulos
- Y un largo etcétera de técnicas que como Data Scientist hayas considerado las mejores para tu dataset.

### 2. Carga los datos de `test.csv` para predecir.

In [120]:
# X_pred = pd.read_csv("C:/Users/Rafael Ortega/Proyectos/Machine_Learning/test/test 2.csv", index_col = 0)
X_pred = test
X_pred.head()

,Ram,Weight,Memory,ScreenResolution,Company,TypeName,Cpu
0,0.096774,0.139651,0.109155,0.141403,0.305557,0.069022,0.542987
1,0.032258,0.177057,0.010563,0.173203,0.021309,0.069022,0.000000
2,0.000000,0.177057,0.010563,0.141403,0.021309,0.069022,0.000000
3,0.096774,0.488778,0.447183,0.141403,0.296709,0.631573,0.542987
4,0.000000,0.102244,0.010563,0.000000,0.259904,0.384296,0.020600

In [121]:
X_pred.shape

(391, 7)

**¿Por qué da error?**

IMPORTANTE: APLICAR LO MISMO A ESTOS DATOS QUE HAYÁIS APLICADO A LOS DATOS DE ENTRENAMIENTO

- SI EL ARRAY CON EL QUE HICISTEIS `.fit()` ERA DE 4 COLUMNAS, PARA `.predict()` DEBEN SER LAS MISMAS
- SI AL ARRAY CON EL QUE HICISTEIS `.fit()` LO NORMALIZASTEIS, PARA `.predict()` DEBÉIS NORMALIZARLO
- TODO IGUAL SALVO BORRAR FILAS, EL NÚMERO DE ROWS SE DEBE MANTENER EN ESTE SET, PUES LA PREDICCIÓN DEBE TENER 391 FILAS, SI O SI

**Entonces, si al cargar los datos de train usé `index_col=0` para que utilizara la primera columna del conjunto de datos como índice, ¿tendré que hacerlo también para el conjunto `test.csv`?**

![](https://www.tierraljelechu.com/web/img/wiki_up/1.996-SorpresaDto.-1-Red.jpg)

In [122]:
X_pred.head()

,Ram,Weight,Memory,ScreenResolution,Company,TypeName,Cpu
0,0.096774,0.139651,0.109155,0.141403,0.305557,0.069022,0.542987
1,0.032258,0.177057,0.010563,0.173203,0.021309,0.069022,0.000000
2,0.000000,0.177057,0.010563,0.141403,0.021309,0.069022,0.000000
3,0.096774,0.488778,0.447183,0.141403,0.296709,0.631573,0.542987
4,0.000000,0.102244,0.010563,0.000000,0.259904,0.384296,0.020600

### 3. AHORA puedo hacer la predicción que será lo que subirás a Kaggle.

**¿Qué es lo que subirás a Kaggle?**

In [123]:
predictions_submit = lm.predict(X_pred)
predictions_submit

array([1267.32008566,  285.5530783 ,  211.27978716, 1407.59439051,
        500.7698533 ,  716.37354864,  507.6835548 , 1611.98459011,
       2020.39379359, 1912.20173163, 1250.54837619, 1808.43113466,
       1340.19400109, 1170.95395983,  714.07674025, 1250.06587819,
       1493.48648261, 2920.66626991,  839.11608353, 1646.35083414,
       1261.95477145, 1625.43910189,  577.44308908, 1165.89922502,
        396.84797368, 2106.92056642, 1507.23019416, 1434.40649368,
        510.39598165, 1912.20173163, 1639.25042578, 1579.81125325,
       1206.668855  ,  895.90868955, 2349.45662019, 1262.49510573,
       1638.76792779, 2066.32667887,  200.13739026, 2229.64093377,
       2142.75554161, 1348.77024623,  410.37423812, 1737.78937497,
       1256.33835211, 2315.66678086, 1358.80343395, 2111.39317204,
       1269.12454893, 2183.29314823, 1096.22731482,  543.68978639,
       1110.10808619, 1251.03087418,  633.27607891, 1144.9598963 ,
       1346.35775626,  429.23303099, 1238.00342836, 1273.35131058,
       1013.00609077, 2307.77957848, 1284.45224862,  420.0007832 ,
       1845.01708886, 1933.85812413, 1894.84898922, 2125.52963822,
       1108.66059221,  632.98500495,  395.87148358, 1737.78937497,
       2441.45937631, 1966.95223662,  568.97159704, 1022.54352303,
        690.14980719, 2565.39267265,  391.64606403, 2111.75907925,
       1032.96543106,  589.35091987, 1241.38091431, 2010.22201347,
       1350.56770794, 1083.26931648, 1655.30614602, 1269.64089747,
       1036.79358801, 1658.06784752, 2344.69691327,  905.33018514,
        310.30473608, 2454.82451742, 2290.89214871, 1913.80633044,
       1818.32234352,  542.78712685,  423.16693389,  232.25969583,
       1896.14676759, 1336.24265614, 1253.19062104,  965.75091701,
       2154.92629277,  456.14564725, 2981.8100866 , 1220.54932316,
       2510.68777539, 2048.79939541, 2060.53670295,  620.42574585,
       1470.8814761 , 2108.98068207, 1805.05364871, 1679.82603922,
       1903.43262358, 2363.34121225, 1083.67087288, 1903.43262358,
       1592.84434132, 2042.51542739, 2171.73720948, 1387.69948581,
        969.7479625 , 1818.32234352,  277.51642938, 1739.85895901,
       1274.62411424, 2029.11420231,   63.95248502, 1646.35083414,
       1517.30351069,  505.61674835,  620.42574585, 2225.78094982,
       2191.01279022, 2303.36308203, 2339.16049943, 1245.95315113,
       1502.89519348, 2109.34658929,  715.51274011, 2146.43440763,
       2483.5867149 ,  315.12971601, 2175.62553623, 1517.30351069,
        624.85198653, 1989.87106368, 2070.18649044, 1881.66416441,
       2043.77902668,  332.07258957, 2198.97400711, 1256.80935599,
       1961.63720833, 1828.8399477 , 1641.45000584, 1621.2032476 ,
       3744.96333168, 2135.91576719, 1590.57916339,  912.87423422,
        793.81978922, 2535.50478829, 1230.27196635, 1549.22943138,
        515.08842714, 1248.23311084,  541.81063675,  514.00611613,
       1032.77884776, 1527.97615743, 2062.00608143,  577.65251108,
       1555.56506376, 1542.68313471, 1423.4644684 ,  354.4371161 ,
        800.72839773, 2103.08198741, 1259.22184595, 1846.46458284,
       2143.53953111, 1259.22184595, 1185.16454672,  561.73343405,
        565.38529408, 1230.16745603, 2038.76416217,  975.40087688,
        251.56003858,  317.10820669, 1261.40458104, 2309.87680494,
       1737.78937497,  516.25979995, 1655.52979013, 2486.81017919,
       1061.48462546, 1250.06587819, 2056.917968  , 2596.27200427,
       1092.09830473, 1269.64089747, 2103.09938954, 1493.9689806 ,
       1241.46712075,  353.48628581, 1267.22840751,  456.62814525,
       1230.16745603, 2033.34796551, 2106.93409932,  435.13137094,
       1063.58764074, 1884.29377848,  681.57356204, 1579.31315678,
         63.95248502,  650.40275351,  113.15165148, 2410.3698895 ,
        575.57742354, 2226.74594581, 2032.86546752, 2059.81278359,
       1397.25222106, 1421.05197843,  989.3323295 ,  456.14564725,
       2833.59029232, 2059.42554595, 1282.55059945,  702.24404529,
       1641.29609933, 1672.5745756 ,  718.66047118, 1201.60130549,
       2042.51542739,  517.55041233, 1658.67315873, 2118.99654916,
       1080.16142233, 1001.43421168,  568.13480554, 2148.72004701,
       1245.24089826, 2070.39608482,  973.12261104, 2583.05599117,
       1248.23311084, 2049.5231424 ,  371.72173984, 1090.15681864,
       1973.46613191, 1500.45087652, 1400.78645127, 1543.50261392,
       1365.78698832, 2258.20796985,  275.51123574, 2164.71697549,
        200.23727837,  533.86091397,  999.51571382,  189.83365777,
       1819.76091846, 1512.47853076, 1259.22184595, 1765.27536047,
        297.62280347,  457.83439023, 2039.20368134, 2296.51316338,
       2111.15192304, 1521.19127179,  515.78879607, 2010.22201347,
       1241.62216331, 1792.58516491, 3502.52049154, 1523.78214702,
       1052.01918301,  542.78712685, 2047.59315043, 2090.01488128,
       1161.69886184, 2101.14585599, 2302.63933504, 2059.36974459,
       1656.00079401, 1283.03309744,  998.72963038, 1687.77326239,
        179.00850395, 1658.06784752, 2411.5735991 , 1386.36084546,
        289.51756221,  454.50149186,  889.41295047, 2123.82152909,
       1630.92239247, 2302.63933504, 2190.90407148,  660.00154601,
        384.47280632, 2661.88606219, 1497.10521756, 1024.76296517,
       2203.07524005, 2203.86288949, 1034.82131925, 1493.24523361,
       2286.65332472, 2746.77626267, 2430.53076794, 1746.37428904,
        351.06230173, 1091.16108589, 1622.52882305, 1649.03275639,
       1839.95085993, 1218.18781766, 1982.63359378,  999.51571382,
       2130.48363105, 1259.22184595, 1705.20069463,  679.16563466,
       2153.74427672, 1241.46712075,  335.45476281, 1036.79358801,
       1438.41796244, 1830.85837231, 1342.79914864, 1001.92820379,
       2027.90795732, 1383.84947765,  290.13924176, 2111.32214153,
        514.00611613, 1109.1430902 ,  253.46621384, 1726.13185286,
       1252.96086615, 2179.42938112, 1259.22184595, 2285.75190527,
        621.46637218, 1580.76065076, 2297.81435511, 1966.32588663,
        407.34274636, 2534.16601304, 1049.12279035, 1670.42639982,
       2032.73293726, 1305.64468886, 1581.48439775, 2108.98068207,
       1107.49711681,  383.47819962,  456.14564725,  571.89436215,
       2094.13814097,  795.91133595,  232.76773988,  294.11961044,
       2251.36937811, 1332.15765987,  315.12971601, 1248.84813909,
       2207.3302054 , 1017.52549527, 1275.79562754, 1340.00113819,
        671.35110027, 1833.07238287, 1507.86527809, 1560.02443411,
       2307.53832949, 2526.29656099, 2153.18937954, 3151.96973306,
       1175.51462558,  328.06163616, 2241.24207878])

**¡PERO! Para subir a Kaggle la predicción, ésta tendrá que tener una forma específica y no valdrá otra.**

En este caso, la **MISMA** forma que `sample_submission.csv`.

In [124]:
sample = pd.read_csv("data/sample_submission.csv")

In [125]:
sample.head()

   laptop_ID  Price_euros
0        750          500
1        726          500
2        633          500
3        363          650
4        319          650

In [126]:
sample.shape

(391, 2)

### 4. Mete tus predicciones en un dataframe. 

En este caso, la **MISMA** forma que `sample_submission.csv`.

In [127]:
submission = pd.DataFrame({"laptop_ID": sample['laptop_ID'], "Price_euros": predictions_submit})

In [128]:
submission.head()

   laptop_ID  Price_euros
0        750  1267.320086
1        726   285.553078
2        633   211.279787
3        363  1407.594391
4        319   500.769853

In [129]:
submission.shape

(391, 2)

### 5. Pásale el CHEQUEATOR para comprobar que efectivamente está listo para subir a Kaggle.

In [130]:
def chequeator(df_to_submit):
    """
    Esta función se asegura de que tu submission tenga la forma requerida por Kaggle.
    
    Si es así, se guardará el dataframe en un `csv` y estará listo para subir a Kaggle.
    
    Si no, LEE EL MENSAJE Y HAZLE CASO.
    
    Si aún no:
    - apaga tu ordenador, 
    - date una vuelta, 
    - enciendelo otra vez, 
    - abre este notebook y 
    - leelo todo de nuevo. 
    Todos nos merecemos una segunda oportunidad. También tú.
    """
    if df_to_submit.shape == sample.shape:
        if df_to_submit.columns.all() == sample.columns.all():
            if df_to_submit.laptop_ID.all() == sample.laptop_ID.all():
                print("You're ready to submit!")
                submission.to_csv("submission.csv", index = False) #muy importante el index = False
                urllib.request.urlretrieve("https://i.kym-cdn.com/photos/images/facebook/000/747/556/27a.jpg", "gfg.png")     
                img = Image.open("gfg.png")
                img.show()   
            else:
                print("Check the ids and try again")
        else:
            print("Check the names of the columns and try again")
    else:
        print("Check the number of rows and/or columns and try again")
        print("\nMensaje secreto de Clara: No me puedo creer que después de todo este notebook hayas hecho algún cambio en las filas de `diamonds_test.csv`. Lloro.")

In [131]:
chequeator(submission)

You're ready to submit!